*{
	padding: 0;
	margin: 0;
	list-style: none;
}
#box{
	 width: 1000px;
	 height: 409px;
	margin: 50px auto;
	overflow: hidden;
	cursor: pointer;
	position: relative;
}
#banner img{
	float: left;
}
#left{
	position: absolute;
	left: 40px;
	top:200px;
}
#right{
	position: absolute;
	right: 40px;
	top:200px;
}
#list{
	position: absolute;
	left:320px;
	bottom:4px;
}
#list>li{
	float: left;
	width: 40px;height: 40px;
	border-radius: 50%;
	margin: 0 5px 0 5px;
	background:pink;
	border: 1px solid blue;
	line-height: 40px;
	text-align: center;
	font-weight: bold;
	font-size: 18px;
}
#list .bg{
	background:red;
	color: #fff;
}